@tailwind base;
@tailwind components;
@tailwind utilities;

.font-helios {
  font-family: var(--font-helios), system-ui, sans-serif;
}
.font-signature {
  font-family: var(--font-thesignature), cursive;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.contanier {
  @apply lg:px-20 px-6;
}
.p_text {
  @apply text-black lg:text-xl md:text-lg text-sm  font-normal font-helios;
}

.section_padding {
  @apply lg:pt-20 md:pt-10 pt-10;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.p-bottom {
  @apply pb-20 md:pb-40;
}

.nav {
  z-index: 999 !important;
}
/* Scrollbar for horizontal scroll */
.scrollable-container {
  overflow-x: auto;
  scroll-behavior: smooth; /* optional */
}

/* Webkit browsers (Chrome, Safari, Edge) */
.scrollable-container::-webkit-scrollbar {
  height: 8px; /* horizontal scrollbar height */
}

.scrollable-container::-webkit-scrollbar-track {
  background: transparent; /* transparent track */
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: rgb(168, 168, 168); /* primary thumb color */
  border-radius: 10px;
  border: 2px solid transparent; /* optional spacing */
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background-color: rgb(168, 168, 168); /* darker on hover */
}

/* Firefox */
.scrollable-container {
  scrollbar-width: thin;
  scrollbar-color: rgb(168, 168, 168) transparent; /* thumb color, transparent track */
}
