@tailwind base;
@tailwind components;
@tailwind utilities;

.font-helios {
  font-family: var(--font-helios), system-ui, sans-serif;
}
.font-signature {
  font-family: var(--font-thesignature), cursive;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.contanier {
  @apply lg:px-20 px-6;
}
.p_text {
  @apply text-black lg:text-xl md:text-lg text-sm  font-normal font-helios;
}

.section_padding {
  @apply lg:pt-20 md:pt-10 pt-10;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.p-bottom {
  @apply pb-20 md:pb-40;
}
